################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BassThatHz_ASIO_DSP_Processor/bin/Debug/net9.0-windows10.0.26100.0/win-x64
/BassThatHz_ASIO_DSP_Processor/obj
/Test_Project_1/bin/Debug/net9.0-windows10.0.26100.0
/Test_Project_1/obj
/BassThatHz_ASIO_DSP_Processor/BassThatHz_ASIO_DSP_Processor.csproj.user
/BassThatHz_ASIO_DSP_Processor/bin/Release/1
/BassThatHz_ASIO_DSP_Processor/bin/Release/net9.0-windows10.0.26100.0/win-x64
/Test_Project_1/bin/x64/Debug/net9.0-windows10.0.26100.0
/BassThatHz_ASIO_DSP_Processor/bin/x64/Debug/net9.0-windows10.0.26100.0/win-x64
/bin/Release/1
/Test_Project_1/bin/Release/net9.0-windows10.0.26100.0/win-x64
/.continue/docs/new-doc.yaml
/TestResults
/.gitignore
/.gitignore
/Test_Project_1/bin/x64/Debug/net10.0-windows10.0.26100.0
/BassThatHz_ASIO_DSP_Processor/Properties/PublishProfiles
/BassThatHz_ASIO_DSP_Processor/bin
/Test_Project_1/bin/Release/net10.0-windows10.0.26100.0/win-x64
